# Byte-compiled / optimized / DLL files
__pycache__/

# Folders created by editors
.vscode/
.idea/

# For virtualenv or pyenv
myenv/

# Environment variables
.env

# Folders for static files
ocr-models/
data/
*.jpg

# Test files
gsheet-test.py
*.json
!*config.json
